@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-Light: #e2f2ff;
    --color-headerLight: #0066d0;
    --color-clickLight: #79bbff;
    --color-showLight: #bedeff;
    --color-footerLight: #5e5e5e;

    --color-Dark: #252626;
    --color-headerDark: #4C5D70;
    --color-clickDark: #52525c;
    --color-showDark: #8b8b97;
    --color-footerDark: #99a1af;
}

@layer base {
    html {
        @apply overflow-x-hidden font-[arial] scroll-smooth motion-reduce:scroll-auto
    }
    * {
        @apply transition-[background-color] duration-200 motion-reduce:transition-none!
    }
    body {
        @apply transition-[color] duration-100
    }
    main {
        @apply mx-4 mt-[4%] lg:mx-[20%] 
    }
    .light {
        * {
            @apply border-headerLight
        }
        .mobileNav {
            @apply bg-Light
        }
        #top {
            @apply bg-Light
        }
        @apply bg-Light text-Dark
    }
    .dark {
        * {
            @apply border-headerDark
        }
        .mobileNav {
            @apply bg-Dark
        }
        #top {
            @apply bg-Dark
        }
        @apply bg-Dark text-slate-200
    }
    section {
        @apply py-3
    }
    h1 {
        @apply text-4xl font-bold
    }
    h2 {
        @apply text-2xl font-bold 
    }
    h3 {
        @apply text-xl font-bold text-Dark dark:text-slate-200
    }
    h4 {
        @apply text-lg
    }
    p {
        @apply text-base text-footerLight dark:text-footerDark
    }
}

@layer components {
    /* Header */
    #header {
        @apply sticky top-0
    }
    #top {
        @apply border-b-2 flex justify-between px-2 py-0.5 md:pl-4
    }
    #nametag {
            @apply flex items-center
    }
    .icon { /* Styling for svg icons */
        @apply size-6 inline
    }
    .headerButton { /* Universal styling for interactive buttons in top bar */
        @apply flex flex-col justify-center p-2 w-10 h-10 
        cursor-pointer
    }
        /* Basic Menu - for non-mobile displays, inside top bar */
        #basicMenu {
            @apply hidden 
            md:flex -m-0.5
        }
        /* Mobile menu dropdown animation */
        #mobileMenu { /* Mobile menu dropdown animation */
            @apply transition-transform duration-500 origin-top ease-in-out h-0
            md:hidden 
        }
            .open {
                @apply scale-y-100
            }
            .closed {
                @apply scale-y-0
            }
        /* Styling for menu components & also project cards and show more button */
        .basicNav, .mobileNav, .projCard, #showMore {
            @apply
            hover:bg-clickLight dark:hover:bg-clickDark
            active:bg-clickLight dark:active:bg-clickDark
        }
        .basicNav { 
            @apply 
            flex px-8 items-center
        }
        .mobileNav { 
            @apply border-b
            flex pl-3 py-2
        }
        /* Mobile Dropdown Menu */
        #hamburgerButton {
            @apply md:hidden
        }
            /* Hamburger Animation */
            .hamburger {
                @apply bg-Dark dark:bg-slate-200
                h-1 w-6 my-0.5 rounded-sm opacity-100 rotate-0
                transition-transform duration-500 
            }
            .mid {
                @apply transition-opacity duration-500 
            }
            .XTop {
                @apply rotate-45 translate-y-2;
            }
            .XMid {
                @apply opacity-0;
            }
            .XBottom {
                @apply -rotate-45 -translate-y-2;
            }
    /* Anchors for navigation links */
    .anchor { 
        @apply relative -top-20
    }
    /* Social links */
    #socials {
        @apply m-5 flex gap-x-8
    }
    /* Projects */
    #projList {
        &.hideContent {
            @apply max-h-[55vh] overflow-hidden
        }
        &.showContent {
            @apply max-h-200 overflow-hidden
        }
        @apply transition-[max-height] duration-250
    }
    .projCard {
        @apply border-2 rounded-md px-2 my-3
        transition
        cursor-pointer
    }
    #showMore {
        @apply w-full border-2 rounded-full rounded-t-none
        bg-showLight dark:bg-showDark 
        cursor-pointer
    }
    /* Technical Skills */
    #skillTable {
        figure {
            img {
                @apply w-[40%] md:w-[50%] text-sm
            }
            @apply flex flex-col justify-end items-center
        }
        @apply my-3
        grid grid-cols-2 gap-x-2 gap-y-4 md:grid-cols-4 lg:grid-cols-6
    }
    /* Footer */
    #footer {
        a {
            @apply underline
        }
        @apply text-sm text-center mb-4
        text-footerLight dark:text-footerDark
    }
    /* Hidden text only for screen readers */
    .screenReader {
        @apply hidden
    }
}
